@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* VARIABLES */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
body hr {
  border: none;
  border-top: 1.1px solid;
}

.App {
  background-color: #121212;
  height: 100%;
}

.main-page {
  display: flex;
}

/* FEATURED */
.featured {
  background-color: #121212;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
}
.featured .video-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 270px;
  padding: 0 !important;
  margin: 0 15px 15px 0;
  border-radius: 11px;
}
.featured .video-list .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.featured .video-list .video-container:hover {
  transform: translate(7px, -7px);
  cursor: pointer;
}
.featured .video-list .video-container .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.featured .video-list .channel-container {
  display: block;
  transition: 0.2s ease-in-out;
}
.featured .video-list .channel-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.featured .video-list .channel-container .channel-profile {
  text-align: center;
  width: 135px;
}
.featured .video-list .channel-container .channel-profile img {
  width: 135px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.featured .video-list .channel-container .channel-details {
  text-align: center;
}
.featured .video-list .channel-container .channel-details h5 {
  color: #fff;
  font-size: 16px;
}
.featured .video-list .channel-container .channel-details h6 {
  font-size: 12px;
  color: #ea4d4d;
}
.featured .video-list .video-details {
  background-color: #1c1c1c;
  padding: 14px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.featured .video-list .video-details h5 {
  color: #fff;
  font-size: 16px;
}
.featured .video-list .video-details h6 {
  color: #44b079;
  font-size: 12px;
}
.featured .video-list .video-details h6:last-of-type {
  color: #868686;
}
.featured h2 {
  position: absolute;
  top: -45px;
  left: 0;
  z-index: 99;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 0 !important;
}
@-webkit-keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.featured .loadingGif {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  width: 60px;
}

/* HEADER */
.header {
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header form input[type=text] {
  background-color: #121212;
  padding: 7px 12px;
  width: 500px;
  border: none;
  outline: none;
  color: #868686;
  transition: 0.3s ease-in-out;
}
.header form input[type=text]::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=text]:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=text]::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=submit] {
  background-color: #1c1c1c;
}
.header form button {
  background-color: #1c1c1c;
  border: none;
  padding: 7px 12px;
  width: 60px;
  margin-left: 2px;
  box-shadow: 10px 10px 29px -4px rgba(0, 0, 0, 0.58);
}
.header form button #search-icon {
  color: #868686;
  font-size: 19px;
}
.header .logo-container #burger-menu {
  color: #868686;
  font-size: 25px;
  margin-right: 20px;
}
.header .logo-container button {
  border: none;
  background: none;
}
.header .logo-container #logo {
  font-size: 40px;
  color: red;
}
.header .profile {
  font-size: 18px;
  color: #dddddd;
}
.header .profile #notifications {
  margin-right: 25px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  background-color: #1c1c1c;
  min-width: 260px;
  height: 100%;
  z-index: 99;
}
.sidebar ul {
  list-style: none;
  margin-top: 80px;
}
.sidebar ul li,
.sidebar ul a {
  color: #dddddd;
  display: flex;
  align-items: center;
  padding: 12px 0 0 30px;
  margin-left: -30px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.sidebar ul li .side-icon,
.sidebar ul a .side-icon {
  margin: 0 10px 15px 0;
}
.sidebar ul li:hover,
.sidebar ul a:hover {
  background-color: rgba(128, 128, 128, 0.171);
  cursor: pointer;
}
.sidebar ul .sidebar-functionality {
  margin-top: 40px;
}
.sidebar ul .filter-item {
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.sidebar ul .filter-item .filter-container {
  display: flex;
}
.sidebar ul .filter-item .filter-container .filter-categories {
  position: absolute;
  background-color: #1c1c1c;
  padding: 25px;
  top: 431px;
  right: -180px;
  width: 180px;
  border-left: 8px solid #121212;
}
.sidebar ul .filter-item .filter-container .filter-categories .filter-checkbox {
  display: flex;
  justify-content: space-between;
}
.sidebar ul .filter-item .filter-container .filter-categories .filter-checkbox input {
  accent-color: #44b079;
  cursor: pointer;
}
.sidebar ul .filter-item .side-icon {
  margin-top: 5px;
}
.sidebar ul .filter-item .expand-icon {
  font-size: 18px;
  margin: 0 30px 15px 0;
}
.sidebar .subscriptions ul {
  margin-top: 0;
}
.sidebar .subscriptions h6 {
  font-size: 15px;
  color: #dddddd;
  text-transform: uppercase;
  padding: 14px 30px;
}
.sidebar .subscriptions .user-icon {
  font-size: 13px;
}

/* VIDEO PLAYER */
.video-page {
  color: #dddddd;
  padding: 110px;
}
.video-page .video-player .video-info {
  margin-top: 18px;
}
.video-page .video-player .video-info .keyword-list {
  display: flex;
}
.video-page .video-player .video-info .keyword-list h5 {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 400;
  color: #3ea6ff;
}
.video-page .video-player .video-info h2 {
  font-size: 18px;
  font-weight: 500;
}
.video-page .video-player .video-info .stats {
  display: flex;
  justify-content: space-between;
  color: #868686;
}
.video-page .video-player .video-info .stats .video-stats p {
  font-size: 15px;
  margin-bottom: 30px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile {
  display: flex;
  justify-content: space-between;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .channel-actions {
  display: flex;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile #checkmark {
  color: #44b079;
  margin-right: 6px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin-right: 15px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats {
  display: block;
  margin-top: 8px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats h5 {
  color: #dddddd;
  font-size: 15px;
  font-weight: 500;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats .sub-count {
  color: #868686;
  font-size: 12px;
  font-weight: 400;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  width: 105px;
  height: 38px;
  margin-left: 18px;
  margin-top: 4px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile button:hover {
  background-color: #c8c8c8;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .subscribe-active {
  color: #dddddd;
  background-color: #1c1c1c;
  width: 135px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .subscribe-active:hover {
  color: #dddddd;
  background-color: #1c1c1c;
}
.video-page .video-player .video-info .stats .video-actions {
  display: flex;
  align-self: flex-end;
  margin-bottom: 14px;
}
.video-page .video-player .video-info .stats .video-actions button {
  border: none;
  color: #dddddd;
  font-size: 15px;
  background-color: #1c1c1c;
  padding: 9px 10px;
  border-radius: 25px;
  margin-right: 15px;
  width: 110px;
  transition: 0.3s ease-in-out;
}
.video-page .video-player .video-info .stats .video-actions button .thumb {
  margin-right: 7px;
  margin-bottom: 2px;
  color: #868686;
}
.video-page .video-player .video-info .stats .video-actions button .active-thumb {
  color: #dddddd;
}
.video-page .video-player .video-info .stats .video-actions button:hover {
  background-color: #3e3e3e;
}
.video-page .video-player .description p {
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  white-space: pre-wrap;
}
.video-page .video-player .description button {
  background: none;
  border: none;
  color: #868686;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.video-page .video-player .description hr {
  color: #868686;
}
.video-page .suggested-list {
  margin: 0 0 30px 15px;
}
.video-page .suggested-list img {
  width: 270px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.video-page .suggested-list img:hover {
  filter: brightness(1.25);
}
.video-page .suggested-list .video-details h5 {
  font-size: 13px;
  margin-top: 13px;
  line-height: 15px;
}
.video-page .suggested-list .video-details h6 {
  font-size: 13px;
  font-weight: 400;
  color: #868686;
  line-height: 10px;
}
.video-page .suggested-list .video-details h6:last-of-type {
  font-size: 12px;
}

/* COMMENTS */
.comment-section {
  margin-top: 30px;
}
.comment-section .comment-header {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}
.comment-section .comment-list {
  display: flex;
  margin-bottom: 30px;
}
.comment-section .comment-list img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.comment-section .comment-list button {
  background: none;
  border: none;
}
.comment-section .comment-list .comment-content-container {
  margin-left: 15px;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info {
  display: flex;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info #pin {
  font-size: 13px;
  margin: 2px 7px 0 0;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info .pinned-comment {
  background-color: #868686;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 30px;
  margin-top: -2px;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info .publish-date {
  color: #868686;
  margin-left: 5px;
}
.comment-section .comment-list .comment-content-container .comment-content h5 {
  font-size: 14px;
  font-weight: 400;
}
.comment-section .comment-list .comment-content-container .comment-content h5:last-of-type {
  margin-bottom: 3px;
  margin-right: 20px;
}
.comment-section .comment-list .comment-content-container .comment-content h5:first-child {
  font-weight: 500;
}
.comment-section .comment-list .comment-content-container .comment-content button {
  color: #868686;
  font-size: 13px;
}
.comment-section .comment-list .comment-content-container .rate-buttons {
  margin-top: 6px;
}
.comment-section .comment-list .comment-content-container .rate-buttons button {
  color: #dddddd;
  margin-right: 15px;
  font-size: 13px;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .thumb {
  margin: 0 4px 2px 0;
  color: #868686;
  transition: 0.3s ease-in-out;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .thumb:hover {
  color: #dddddd;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .active-thumb {
  color: #44b079;
}

/* CHANNEL STYLING */
.individual-channel {
  display: block;
  color: #dddddd;
}
.individual-channel header {
  padding: 120px 6% 40px 6%;
}
.individual-channel nav {
  margin-top: 25px;
}
.individual-channel nav ul {
  display: flex;
  list-style: none;
  padding-left: 22px;
}
.individual-channel nav ul a {
  text-decoration: none;
}
.individual-channel nav ul li {
  position: relative;
  margin-right: 50px;
  color: #868686;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.individual-channel nav ul li:hover {
  color: #dddddd;
}
.individual-channel nav ul .active-section {
  color: #dddddd;
  transition: 0.3s ease-in-out;
}
@-webkit-keyframes underlineAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes underlineAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.individual-channel nav ul .active-section::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #ea4d4d;
  border-radius: 50px;
  -webkit-animation: underlineAnim 0.3s ease-in-out;
          animation: underlineAnim 0.3s ease-in-out;
}
.individual-channel nav hr {
  position: absolute;
  left: 0;
  top: 16.5em;
  width: 100%;
  color: #868686;
}
.individual-channel .channel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dddddd;
  position: relative;
}
.individual-channel .channel-info .channel-profile-container {
  display: block;
  align-items: center;
  position: relative;
  width: 100%;
}
.individual-channel .channel-info .channel-profile-container .channel-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.individual-channel .channel-info .channel-profile-container .channel-profile .left {
  display: flex;
  align-items: center;
}
.individual-channel .channel-info .channel-profile-container .branding img {
  width: 90px;
  border-radius: 50px;
  margin-right: 15px;
}
.individual-channel .channel-info .channel-profile-container .channel-stats h4 {
  font-size: 20px;
  font-weight: 500;
}
.individual-channel .channel-info .channel-profile-container .channel-stats h5 {
  font-size: 15px;
  color: #868686;
  font-weight: 400;
}
.individual-channel .channel-info button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  width: 105px;
  height: 38px;
  margin-left: 18px;
}
.individual-channel .channel-info button:hover {
  background-color: #c8c8c8;
}
.individual-channel .channel-info #checkmark {
  color: #44b079;
  margin-right: 6px;
}
.individual-channel .channel-info .subscribe-active {
  color: #dddddd;
  background-color: #1c1c1c;
  width: 135px;
}
.individual-channel .channel-info .subscribe-active:hover {
  color: #dddddd;
  background-color: #1c1c1c;
}
.individual-channel hr {
  color: #868686;
}
.individual-channel .uploads {
  display: flex;
  justify-content: center;
  left: 10px;
  margin: 0 auto !important;
}
.individual-channel .uploads .video-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 270px;
  padding: 0 !important;
  margin: 0 15px 15px 0;
  border-radius: 11px;
}
.individual-channel .uploads .video-list .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.individual-channel .uploads .video-list .video-container:hover {
  transform: translate(7px, -7px);
  cursor: pointer;
}
.individual-channel .uploads .video-list .video-container .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.individual-channel .uploads .video-list .channel-container {
  display: block;
  transition: 0.2s ease-in-out;
}
.individual-channel .uploads .video-list .channel-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.individual-channel .uploads .video-list .channel-container .channel-profile {
  text-align: center;
  width: 135px;
}
.individual-channel .uploads .video-list .channel-container .channel-profile img {
  width: 135px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.individual-channel .uploads .video-list .channel-container .channel-details {
  text-align: center;
}
.individual-channel .uploads .video-list .channel-container .channel-details h5 {
  color: #fff;
  font-size: 16px;
}
.individual-channel .uploads .video-list .channel-container .channel-details h6 {
  font-size: 12px;
  color: #ea4d4d;
}
.individual-channel .uploads .video-list .video-details {
  background-color: #1c1c1c;
  padding: 14px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.individual-channel .uploads .video-list .video-details h5 {
  color: #fff;
  font-size: 16px;
}
.individual-channel .uploads .video-list .video-details h6 {
  color: #44b079;
  font-size: 12px;
}
.individual-channel .uploads .video-list .video-details h6:last-of-type {
  color: #868686;
}

/* CHANNEL ABOUT PAGE STYLING */
.About {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 50px 6%;
  height: 100vh;
}
.About h6 {
  font-weight: 400;
  font-size: 15px;
}
.About h5 {
  font-size: 16px;
  margin-bottom: 25px;
}
.About .channel-description {
  margin-right: 20px;
}
.About .channel-description h6 {
  white-space: pre-wrap;
}
.About .channel-description hr {
  margin-top: 35px;
}
.About .channel-statistics-container {
  display: block;
}
.About .channel-statistics-container .channel-statistics button {
  background: none;
  border: none;
  color: #dddddd;
  transition: 0.3s ease-in-out;
}
.About .channel-statistics-container .channel-statistics button:hover {
  transform: scale(1.2);
}
.About .channel-statistics-container .channel-statistics .btn-poked {
  color: #ea4d4d;
}
@-webkit-keyframes pokeAnim {
  0% {
    opacity: 0%;
    transform: translateY(70px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes pokeAnim {
  0% {
    opacity: 0%;
    transform: translateY(70px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.About .channel-statistics-container .channel-statistics .poke-msg {
  position: absolute;
  bottom: 10px;
  right: 40px;
  -webkit-animation: pokeAnim 0.5s ease-in;
          animation: pokeAnim 0.5s ease-in;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-align: right;
  background-color: #dddddd;
  padding: 10px 20px 10px 35px;
  border-radius: 7px;
}

/* CHANNEL HOME PAGE STYLING */
.home {
  height: 100vh;
  padding: 20px 6% 10px 6%;
  display: block;
  position: relative;
}
.home .loadingGif {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .upload-list {
  position: relative;
  display: flex;
  margin-top: 110px;
}
.home .upload-list .home-uploads .video-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 270px;
  padding: 0 !important;
  margin: 0 15px 15px 0;
  border-radius: 11px;
}
.home .upload-list .home-uploads .video-list .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.home .upload-list .home-uploads .video-list .video-container:hover {
  transform: translate(7px, -7px);
  cursor: pointer;
}
.home .upload-list .home-uploads .video-list .video-container .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home .upload-list .home-uploads .video-list .channel-container {
  display: block;
  transition: 0.2s ease-in-out;
}
.home .upload-list .home-uploads .video-list .channel-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.home .upload-list .home-uploads .video-list .channel-container .channel-profile {
  text-align: center;
  width: 135px;
}
.home .upload-list .home-uploads .video-list .channel-container .channel-profile img {
  width: 135px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.home .upload-list .home-uploads .video-list .channel-container .channel-details {
  text-align: center;
}
.home .upload-list .home-uploads .video-list .channel-container .channel-details h5 {
  color: #fff;
  font-size: 16px;
}
.home .upload-list .home-uploads .video-list .channel-container .channel-details h6 {
  font-size: 12px;
  color: #ea4d4d;
}
.home .upload-list .home-uploads .video-list .video-details {
  background-color: #1c1c1c;
  padding: 14px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.home .upload-list .home-uploads .video-list .video-details h5 {
  color: #fff;
  font-size: 16px;
}
.home .upload-list .home-uploads .video-list .video-details h6 {
  color: #44b079;
  font-size: 12px;
}
.home .upload-list .home-uploads .video-list .video-details h6:last-of-type {
  color: #868686;
}
.home .upload-list .home-uploads .video-list {
  width: 285px;
  height: 255px;
}
.home .upload-list button {
  position: absolute;
  top: 75px;
  background-color: #1c1c1c;
  color: #dddddd;
  font-size: 16px;
  padding: 10px 13px;
  border-radius: 30px;
  border: none;
  transition: 0.3s ease-in-out;
  opacity: 80%;
  z-index: 999;
}
.home .upload-list button:hover {
  background-color: rgb(46, 46, 46);
}
.home .upload-list .prev-btn {
  left: -28px;
}
.home .upload-list .next-btn {
  right: -28px;
}
.home .video {
  margin-right: 20px;
  position: relative;
}
.home .featured-video {
  position: relative;
  display: flex;
  height: 265px;
}
.home .featured-video hr {
  position: absolute;
  width: 100%;
  bottom: -100px;
}
.home .featured-video .video-info {
  position: relative;
  display: flex;
}
.home .featured-video .video-info a:last-child {
  position: absolute;
  bottom: -30px;
}
.home .featured-video .video-info a:last-child button {
  background: none;
  border: none;
  color: #868686;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.home .featured-video .video-info .home-text {
  display: block;
  color: #dddddd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home .featured-video .video-info .home-text a {
  color: #dddddd;
  text-decoration: none;
}
.home .featured-video .video-info .home-text a h5 {
  font-size: 17px;
  font-weight: 700;
}
.home .featured-video .video-info .home-text h6 {
  font-size: 15px;
  margin-bottom: 20px;
}
.home .featured-video .video-info .home-text h6:first-of-type {
  color: #868686;
}
.home .featured-video .video-info .home-text h6:last-of-type {
  white-space: pre-wrap;
}

/* HISTORY PAGE STYLING */
.history {
  padding: 120px 6% 40px 6%;
  height: 100vh;
  background-color: #121212;
}/*# sourceMappingURL=style.css.map */