@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* VARIABLES */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #121212;
  height: 100%;
}

.main-page {
  display: flex;
}

/* FEATURED */
.featured {
  background-color: #121212;
  padding-top: 100px;
}
.featured h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
@-webkit-keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.featured .loadingGif {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  width: 60px;
}
.featured .video-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.featured .video-list:not(.featured .video-list:last-of-type) {
  margin-right: 10px;
}
.featured .video-list .video-container {
  transition: 0.2s ease-in-out;
  z-index: 9;
}
.featured .video-list .video-container:hover {
  transform: translate(7px, -7px);
  cursor: pointer;
}
.featured .video-list .channel-container {
  transition: 0.2s ease-in-out;
}
.featured .video-list .channel-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.featured .video-list .color-bg {
  position: absolute;
  width: 340px;
  height: 290px;
}
.featured .video-list .thumbnail {
  width: 340px;
  height: 200px;
}
.featured .video-list .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.featured .video-list .channel {
  width: 340px;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}
.featured .video-list .channel img {
  width: 180px;
  border-radius: 50%;
}
.featured .video-list .video-details {
  background-color: #1c1c1c;
  padding: 14px 10px;
  width: 340px;
  height: 90px;
}
.featured .video-list .video-details h5 {
  color: #fff;
  font-size: 16px;
}
.featured .video-list .video-details h6 {
  color: #44b079;
  font-size: 12px;
}
.featured .video-list .video-details h6:last-of-type {
  color: #868686;
}
.featured .video-list .channel-details {
  text-align: center;
  padding-top: 5px;
}
.featured .video-list .channel-details h5 {
  color: #fff;
  font-size: 16px;
}
.featured .video-list .channel-details h6 {
  font-size: 12px;
  color: #ea4d4d;
}

/* HEADER */
.header {
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header form input[type=text] {
  background-color: #121212;
  padding: 7px 12px;
  width: 500px;
  border: none;
  outline: none;
  color: #868686;
  transition: 0.3s ease-in-out;
}
.header form input[type=text]::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=text]:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=text]::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
.header form input[type=submit] {
  background-color: #1c1c1c;
}
.header form button {
  background-color: #1c1c1c;
  border: none;
  padding: 7px 12px;
  width: 60px;
  margin-left: 2px;
  box-shadow: 10px 10px 29px -4px rgba(0, 0, 0, 0.58);
}
.header form button #search-icon {
  color: #868686;
  font-size: 19px;
}
.header .logo-container #burger-menu {
  color: #868686;
  font-size: 25px;
  margin-right: 20px;
}
.header .logo-container button {
  border: none;
  background: none;
}
.header .logo-container #logo {
  font-size: 40px;
  color: red;
}
.header .profile {
  font-size: 18px;
  color: #dddddd;
}
.header .profile #notifications {
  margin-right: 25px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  background-color: #1c1c1c;
  min-width: 260px;
  height: 100%;
  z-index: 99;
}
.sidebar ul {
  list-style: none;
  margin-top: 80px;
}
.sidebar ul li {
  color: #dddddd;
  display: flex;
  align-items: center;
  padding: 12px 0 0 30px;
  margin-left: -30px;
  transition: 0.3s ease-in-out;
}
.sidebar ul li .side-icon {
  margin: 0 10px 15px 0;
}
.sidebar ul li:hover {
  background-color: rgba(128, 128, 128, 0.171);
  cursor: pointer;
}
.sidebar ul .sidebar-functionality {
  margin-top: 40px;
}
.sidebar ul .filter-item {
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.sidebar ul .filter-item .filter-container {
  display: flex;
}
.sidebar ul .filter-item .filter-container .filter-categories {
  position: absolute;
  background-color: #1c1c1c;
  padding: 25px;
  top: 431px;
  right: -180px;
  width: 180px;
  border-left: 8px solid #121212;
}
.sidebar ul .filter-item .filter-container .filter-categories .filter-checkbox {
  display: flex;
  justify-content: space-between;
}
.sidebar ul .filter-item .filter-container .filter-categories .filter-checkbox input {
  accent-color: #44b079;
  cursor: pointer;
}
.sidebar ul .filter-item .side-icon {
  margin-top: 5px;
}
.sidebar ul .filter-item .expand-icon {
  font-size: 18px;
  margin: 0 30px 15px 0;
}
.sidebar .subscriptions ul {
  margin-top: 0;
}
.sidebar .subscriptions h6 {
  font-size: 15px;
  color: #dddddd;
  text-transform: uppercase;
  padding: 14px 30px;
}
.sidebar .subscriptions .user-icon {
  font-size: 13px;
}

/* VIDEO PLAYER */
.video-page {
  color: #dddddd;
  padding: 110px;
}
.video-page .video-player .video-info {
  margin-top: 18px;
}
.video-page .video-player .video-info .keyword-list {
  display: flex;
}
.video-page .video-player .video-info .keyword-list h5 {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 400;
  color: #3ea6ff;
}
.video-page .video-player .video-info h2 {
  font-size: 18px;
  font-weight: 500;
}
.video-page .video-player .video-info .stats {
  display: flex;
  justify-content: space-between;
  color: #868686;
}
.video-page .video-player .video-info .stats .video-stats p {
  font-size: 15px;
  margin-bottom: 30px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile {
  display: flex;
  justify-content: space-between;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .channel-actions {
  display: flex;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile #checkmark {
  color: #44b079;
  margin-right: 6px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin-right: 15px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats {
  display: block;
  margin-top: 8px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats h5 {
  color: #dddddd;
  font-size: 15px;
  font-weight: 500;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .uploader-stats .sub-count {
  color: #868686;
  font-size: 12px;
  font-weight: 400;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  width: 105px;
  height: 38px;
  margin-left: 18px;
  margin-top: 4px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile button:hover {
  background-color: #c8c8c8;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .subscribe-active {
  color: #dddddd;
  background-color: #1c1c1c;
  width: 135px;
}
.video-page .video-player .video-info .stats .video-stats .uploader-profile .subscribe-active:hover {
  color: #dddddd;
  background-color: #1c1c1c;
}
.video-page .video-player .video-info .stats .video-actions {
  display: flex;
  align-self: flex-end;
  margin-bottom: 14px;
}
.video-page .video-player .video-info .stats .video-actions button {
  border: none;
  color: #dddddd;
  font-size: 15px;
  background-color: #1c1c1c;
  padding: 9px 10px;
  border-radius: 25px;
  margin-right: 15px;
  width: 110px;
  transition: 0.3s ease-in-out;
}
.video-page .video-player .video-info .stats .video-actions button .thumb {
  margin-right: 7px;
  margin-bottom: 2px;
  color: #868686;
}
.video-page .video-player .video-info .stats .video-actions button .active-thumb {
  color: #dddddd;
}
.video-page .video-player .video-info .stats .video-actions button:hover {
  background-color: #3e3e3e;
}
.video-page .video-player .description p {
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  white-space: pre-wrap;
}
.video-page .video-player .description button {
  background: none;
  border: none;
  color: #868686;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.video-page .video-player .description hr {
  color: #868686;
}
.video-page .suggested-list {
  margin: 0 0 30px 15px;
}
.video-page .suggested-list img {
  width: 270px;
  transition: 0.3s ease-in-out;
}
.video-page .suggested-list img:hover {
  filter: brightness(1.25);
}
.video-page .suggested-list .video-details h5 {
  font-size: 13px;
  margin-top: 13px;
  line-height: 15px;
}
.video-page .suggested-list .video-details h6 {
  font-size: 13px;
  font-weight: 400;
  color: #868686;
  line-height: 10px;
}
.video-page .suggested-list .video-details h6:last-of-type {
  font-size: 12px;
}

/* COMMENTS */
.comment-section {
  margin-top: 30px;
}
.comment-section .comment-header {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}
.comment-section .comment-list {
  display: flex;
  margin-bottom: 30px;
}
.comment-section .comment-list img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.comment-section .comment-list button {
  background: none;
  border: none;
}
.comment-section .comment-list .comment-content-container {
  margin-left: 15px;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info {
  display: flex;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info #pin {
  font-size: 13px;
  margin: 2px 7px 0 0;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info .pinned-comment {
  background-color: #868686;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 30px;
  margin-top: -2px;
}
.comment-section .comment-list .comment-content-container .comment-content .main-info .publish-date {
  color: #868686;
  margin-left: 5px;
}
.comment-section .comment-list .comment-content-container .comment-content h5 {
  font-size: 14px;
  font-weight: 400;
}
.comment-section .comment-list .comment-content-container .comment-content h5:last-of-type {
  margin-bottom: 3px;
  margin-right: 20px;
}
.comment-section .comment-list .comment-content-container .comment-content h5:first-child {
  font-weight: 500;
}
.comment-section .comment-list .comment-content-container .comment-content button {
  color: #868686;
  font-size: 13px;
}
.comment-section .comment-list .comment-content-container .rate-buttons {
  margin-top: 6px;
}
.comment-section .comment-list .comment-content-container .rate-buttons button {
  color: #dddddd;
  margin-right: 15px;
  font-size: 13px;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .thumb {
  margin: 0 4px 2px 0;
  color: #868686;
  transition: 0.3s ease-in-out;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .thumb:hover {
  color: #dddddd;
}
.comment-section .comment-list .comment-content-container .rate-buttons button .active-thumb {
  color: #44b079;
}/*# sourceMappingURL=style.css.map */